<!doctype html>
<html lang="en">

<head>
    <title>Innix Studio</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="manifest" href="/manifest.json">

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="/css/global.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/css/main.css" media="screen">
    <!-- 16x16 -->
    <link rel="icon" type="image/png" href="/image/innix.png"> {{# each style}}
    <link rel="stylesheet" type="text/css" href="{{this}}" /> {{/each}}
</head>

<body id="{{ bodyId }}">
    <!-- Header computador -->
    <header class="container header" id="computerHeader">
        <div class="row topHead">
            <div class="col-lg-1 col-lg-offset-2 col-md-2 col-sm-1 col-xs-2 headerComputer">
                <a href="/home">
                    <img src="/image/innix.png" height="50" width="50" title="innix">
                </a>
            </div>
            <div class="col-lg-1 col-lg-offset-5 col-md-2 col-md-offset-7 col-sm-2 col-sm-offset-7 col-xs-3 col-xs-offset-4 headerComputer"
                data-type="menuopt" title="Inicio">
                <a href="/home">
                    <button> Inicio </button>
                </a>
            </div>
            <div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 headerComputer" data-type="menuopt" title="Empresa">
                <a href="/about">
                    <button> Empresa </button>
                </a>
            </div>
        </div>
    </header>

    {{{ body }}}

    <footer class="holder">
        <div class="footerContainer">
            <font class="footerTitle">Innix Studio</font>
            <sm>
                Startup brasileira de jogos e aplicativos
                <br>
                <strong>innixstudio@gmail.com.br</strong>
            </sm>
            <a href="https://www.facebook.com/LotusGamesDev/" class="footerIcons" target="_blank">
                <img src="/image/icons/facebook-ic.png" height="25" width="25" title="Facebook" />
            </a>
            <a href="#" class="footerIcons" target="_blank">
                <img src="/image/icons/googleplay-ic.png" height="25" width="25" title="Google Play" />
            </a>
            <a href="#" class="footerIcons" target="_blank">
                <img src="/image/icons/youtube-ic.png" height="25" width="25" title="Youtube" />
            </a>
            <a href="mailto:innixstudio@gmail.com?Subject=Contato%20Site" target="_top" class="footerIcons">
                <img src="/image/icons/email-ic.png" height="25" width="25" title="Email" />
            </a>
        </div>
        <p class="footerCopyright">© 2019 Innix Studio. Criado e mantido por Innix Studio.</p>
    </footer>

    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/common.js"></script>
    {{# each javascript}}
    <script src="{{this}}"></script>
    {{/each}}
    <script src="/js/notification/innixservice.js" id="cffdb91e-42ba-4bda-86d8-d4278c725979"></script>
</body>
</html>