<div class="headerInv"> </div>

<div class="main-container">
	<div class="container aboutSession">
		<!-- First Session -->
		<div class="section-title">
			<h1>Empresa</h1>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 aboutText">
			<p>
				INNIX é uma start-up brasileira criada em 2019 e tem como objetivo a criação jogos para plataformas moveis e computadores - online
				e offline - voltados para o desenvolvimeto intelectual do publico e divertimento casual. Atuamos também no desenvolvimento
				de aplicativos e assets para desenvolvimento proprio do cliente.
				<br> Nossa missão é transmitir os valores, propositos, ideias e objetivos dos nossos clientes através de jogos, aplicativos e assets construidos em 
				total sincronia entre cliente e produtor.
				<br> Nosso foco é alcançar um publico consumidor de jogos, tanto casuais (foco em mobilidade) como jogos mais complexos e elaborados.
				Além disso, temos como um de nossos objetivos auxiliar a comunidade de desenvolvedores de jogos, iniciantes ou experientes, com a venda de auxilio 
				no desenvolvimento de projetos e assets que facilitam o desenvolvimento e melhoram seus próprios projetos.
			</p>
		</div>

		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 threeSession">
			<div class="row">
				<div class="col-lg-4">
					<!-- <img src="image/facebook-ic.png" height="20" width="20" title="Jogos Mobile e Aplicativos" style="display: inline-block;margin-right: 5px;"> -->
					<h4 class="subtitleAbout"> Jogos Mobiles</h4>
					<p>Entreterimento para celulares e tablets, criamos jogos para as pessoas desde os casuais até para os com gostos mais
						complexos, acessados pela loja da Google Play.</p>
				</div>

				<div class="col-lg-4">
					<h4 class="subtitleAbout">Assets</h4>
					<p> Assets são os pacotes de diversos e diferentes itens, que ajudam e facilitam o trabalho de um desenvolvedor no processo
						de criação de seus jogos.</p>
				</div>

				<div class="col-lg-4">
					<h4 class="subtitleAbout"> Jogos Online e Local</h4>
					<p>Entreterimento para web e local no computador, acessados online pelo Kongregate e download feitos pelo Itch.io. </p>
				</div>
			</div>
		</div>
	</div>

	<div class="teamArea">
		<!-- background: #f7f7f7;border-top: 1px solid #ebe6e6; -->
		<div class="container">
			<div class="section-title">
				<h1>Equipe</h1>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
				<img class="memberPhoto" src="/image/team/caio.jpg" height="125" width="125" title="innixMembro">
				<span class="memberTitle"> Caio Americo </span>
				<p>Programador e Designer</p>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
				<img class="memberPhoto" src="/image/team/danilo.jpg" height="125" width="125" title="innixMembro">
				<span class="memberTitle"> Danilo Assis </span>
				<p>Programador e Administrador</p>
			</div>
		</div>
	</div>
</div>
</div>