<div class="headerInv"> </div>
<!-- delinear todo o corpo da página retirando o rodapé e o cabeçalho-->
	<!-- Card 1 - Background -->
	<div class="mainBanner">
		<div class="mainBannerLogo">
				<img src="/image/logo-web.png">
				Somos a Innix, um grupo jovem brasileiro criado no mundo da tecnologia, desenvolvendo aplicativos, assets e jogos.
				Transformando a arte contida em cada produto no valor transmitido para nossos usuários.
		</div>
		<div class="mainBannerArea">
			<div class="mainBannerOverlay"></div>
		</div>
	</div>

	<!-- Card 2 -->
	<div class="main-container">
		<div class="row game-session">
			<!-- First Session -->
			<div class="container" id="projects-container">
				<div class="section-title">
					<h1>Projetos</h1>
				</div>
			</div>

			<!-- Social Session -->
			<div class="container">
				<div class="section-title">
					<h1>Fique por dentro das novidades</h1>
				</div>
				<div class="col-lg-7">
					<p> Siga-nos no facebook e nas outras redes sociais, fique por dentro de todos os lançamentos, exclusividades na store e
						eventos. No canal do youtube poderá conferir nossos trailers e as propagandas, aproveite!</p>
				</div>
				<div class="col-lg-5" style="text-align: center;">
				{{!--  --}}
					<div class="fb-page" data-href="https://www.facebook.com/LotusGamesDev/" data-width="400" data-small-header="true" data-adapt-container-width="true"
					    data-hide-cover="false" data-show-facepile="true">
						<blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore">
							<a href="https://www.facebook.com/facebook">LotusGames</a>
						</blockquote>
					</div>
				</div>
			</div>
		</div>

		<div class="new-contents" style="background: #0d0a24;">
			<div class="container">
				<div class="row">
					<h2 class="new-contents-title">Confira nossos assets também</h2>
					<div class="col-lg-12">
						<p>Não deixe de acompanhar nossas novidades na Assets Store da Unity. Criamos códigos, artes e cenários, tudo para facilitar
							seu trabalho na criação do seu próprio jogo.</p>
						<a href="#" class="open-assets">Visite já</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- div page -->
	<script>
		(function (d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s);
			js.id = id;
			js.src = 'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&autoLogAppEvents=1&version=v3.1&appId=322274485002863';
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>