@font-face {
	font-family: SegoeUI;
	src: local("Segoe UI Light"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2) format("woff2"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff) format("woff"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf) format("truetype");
	font-weight: 100;
}

@font-face {
	font-family: SegoeUI;
	src: local("Segoe UI"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2) format("woff2"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff) format("woff"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf) format("truetype");
	font-weight: 400;
}

@font-face {
	font-family: SegoeUI;
	src: local("Segoe UI Bold"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff2) format("woff2"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff) format("woff"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf) format("truetype");
	font-weight: 600;
}

/* Global */
html,
body {
	background-color: #e3e7ef; /*#f3f2f7*/
	font-family: "Segoe UI", Arial, Helvetica, sans-serif;
	overflow-x: hidden;
	overflow-y: auto;
	color: #1b1f42;
	font-size: 16px;
}

h1{
    display: inline-block;
    text-align: center;
    margin: 0 0 15px;
    z-index: 1;
    background: #e3e7ef;
    padding: 0 15px;
}

h2{
	text-align: left;
	margin: 10px 0;
}

ul {
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 10px;
	list-style: none;
}

hr {
	margin-bottom: 15px;
}

.main-container{
    position: relative;
    padding: 0;
    margin: 0;
    box-shadow: 0px 0px 20px -4px #000;
    border-bottom: 1px solid #303235;
    z-index: 1;
    float: left;
    width: 100%;
}
/* ---- */

/* Header */
.header {
    width: 100%;
    height: 70px;
    margin-left: 0px;
    padding: 0;
    position: fixed;
    z-index: 2;
}

.topHead {
    background-color: #0d0a24;
    color: white;
    height: 70px;
    width: 100%;
	margin: auto;
	border-bottom: 1px solid rgba(49, 211, 247,0.5);
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.3);
}

.headerComputer {
    position: relative;
    height: 100%;
    padding: 0px 2px;
}

.headerComputer img {
	cursor: pointer;
	height: auto;
	max-height: 50px;
	width: auto;
	max-width: 100% !important;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}

.headerComputer button {
    cursor: pointer;
    width: 100%;
    background-color: Transparent;
    background-repeat: no-repeat;
    height: 100%;
    color: #fff;
    border: none;
    overflow: hidden;
    outline: none;
    text-align: center;
    line-height: 15px;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
	letter-spacing: 2px;
}

.headerComputer button:before,
.headerComputer .button:active:before,
.headerComputer .button:focus:before{
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #31d3f7;
	height: 2px;
	transition-duration: .3s;
    transition-timing-function: ease-out;
}

.headerComputer button:hover:before{
	/* border-bottom: 2px solid #fff; */
	left: 5%;
    right: 5%;
}

/* @media screen and (max-width: 768px){
	.headerComputer[data-type="menuopt"]{
		display: none;
	}
} */

/* ---- */

/* Footer */
.holder {
	position: relative;
	display: block;
	float: left;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	background-color: #0d0f13;
	color: white;
}

.holder a:visited,
.holder a:link {
	color: #fff;
}

.holder a:active {
	color: #00bdd4;
}

.footerContainer {
	position: relative;
    padding: 20px 0;
	margin: auto;
	text-align: center;
}

.footerTitle{
	font-size: 15px;
    font-weight: 600;
}

.footerContainer sm{
    display: block;
    font-size: 13px;
    line-height: 1.6;
    letter-spacing: 0.2px;
    margin: 10px 0;
}
.footerContainer strong{
	font-weight: 400;
    font-size: 15px;
}

.footerIcons{
	display: inline-block;
	margin: 0 3px;
}

.footerCopyright {
	font-size: 13px;
	margin: 0;
	font-weight: 500;
	background: #090909;
	text-align: center;
	padding: 5px 0;
}
/* --- */

/* Slider Controls */
button[data-action=stop],button[data-action=start] {
	display: none !important;
}

.tns-controls {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.tns-controls button {
    position: absolute;
    background: 0 0;
    border: none;
    font-size: 20px;
    width: 12px;
    height: 12px;
    cursor: pointer;
    color: #fff;
    border-radius: 0;
    padding: 0;
    border-bottom: 2px solid;
    border-left: 2px solid;
    transform: rotate(45deg);
    top: 48%;
    z-index: 1;
    outline: 0;
}
.tns-controls button:before {
	content: '';
    background: #fff;
    box-shadow: rgba(0,0,0,.2) 0 2px 6px 0;
    position: absolute;
    top: -18px;
    left: -12px;
    opacity: .4;
    display: block;
    margin: 0;
    transform: rotate(-45deg);
    padding: 25px 15px;
    z-index: 0;
}
.tns-controls button[data-controls=prev] {
    left: 15px;
}
.tns-controls button[data-controls=next]:before {
    box-shadow: rgba(0,0,0,.2) 0 -2px 6px 0;
}
.tns-controls button[data-controls=next] {
    right: 15px;
    transform: rotate(-135deg);
}
/* --- */