/* HOME - Card 1 */
.mainBanner {   
    position: relative;
    float: left;
    height: 905px;
    max-height: 905px;
    width: 100%;
}

.mainBanner .mainBannerArea{
    position: absolute;
	height: 905px;
	width: 135%;
    max-width: 2000px;
    background: url(https://78.media.tumblr.com/f0cc98bda7c2ed900b52f2ad4ae719d1/tumblr_ozpr2uyvkt1v69vf4o2_640.gif) no-repeat 0 0;
    background-size: 100%;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #0d0a24;
}

.mainBannerOverlay{
    width: 100%;
    position: absolute;
    height: 100%;
    background: #09071f;
    opacity: .78;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

.mainBannerLogo{
	position: absolute;
	font-family: Convergence;
    width: 100%;
    padding: 0 28%;
    top: 48%;
    transform: translateY(-50%);
    margin: auto;
    color: white;
    font-weight: 300;
    font-size: 1.9vw;
    text-align: center;
    line-height: 1.2;
    z-index: 1;
}

.mainBannerLogo img{
    display: block;
    margin: 0px auto 35px;
    width: auto;
    height: 70px;
}
/* --- */

/* principal titles */
.section-title{
	position: relative;
    display: block;
	margin-bottom: 30px;
	text-align: center;
}

.section-title:before{
    content: '';
    background: #31d3f7;
    width: 90%;
    height: 1px;
    position: absolute;
    left: 5%;
    top: 21px;
    z-index: -1;
}

.section-title:after{
	content: '';
    background: linear-gradient(to right,rgba(13,86,166,0) 0,#0d0a24 30%,#0d0a24 50%,#0d0a24 70%,rgba(13,86,166,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000d56a6',endColorstr='#000d56a6',GradientType=1);
    width: 81%;
    height: 1px;
    position: absolute;
    left: 10%;
    top: 24px;
    z-index: -1;
}
/* ---- */

/* card 2 - Session 1 */
.game-session{
	color: #1b1f42;
	border-left: 15px solid #0d0a24;
	border-right: 15px solid #0d0a24;
	margin: 35px 0;
}

.game-area{
	float: left;
	transition: opacity .1s ease-in-out;
    -moz-transition: opacity .1s ease-in-out;
    -webkit-transition: opacity .8s ease-in-out;
	opacity: .4;
	margin-bottom: 50px;
}

.game-area #left-sidebar{
	margin-bottom: 15px;
}

.in-screen{
	opacity: 1;
}

.game-description{
	font-size: 16px;
}

.specifyTitle{
	font-size: 18px;
    font-weight: 600;
    padding-bottom: 3px;
    margin: 12px 0;
    display: block;
    border-bottom: 1px solid #0d0a24;
}

.rightMenu {
    position: relative;
    cursor: pointer;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.showSlider {
	list-style: none;
	display: block;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}

.game-box-img {
	position: relative;
	height: 360px;
	width: 100%;
	overflow: hidden;
	margin: auto;
}

.game-box-img img {
	opacity: 1;
	height: auto;
	max-height: 100%;
	width: 100%;
	max-width: 100% !important;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	background: #0d0a24;
    padding: 5px;
}

.game-play {
	text-align: center;
	margin: 25px auto 25px;
}

.game-play p {
	font-size: 18px;
	font-weight: 500;
} 

.open-game {
	display: block;
	width: 30%;
	min-width: 180px;
	background-color: #e34d47;
	border: none;
	border-radius: 25px;
	text-align: center;
	font-size: 16px;
	color: #fff!important;
	font-weight: 600;
	padding: 10px;
	margin: 20px auto;
	transition-duration: .3s;
	-webkit-box-shadow: 3px 3px 5px 0px rgba(224, 188, 224, 1);
	-moz-box-shadow: 3px 3px 5px 0px rgba(224, 188, 224, 1);
	box-shadow: 3px 3px 5px 0px rgba(224, 188, 224, 1);
	text-decoration: none!important;
}

.open-game:hover, .open-assets:hover {
	opacity: .8;
}
/* ----- */

/* card 2 - Session 2 */
.new-contents{
	position: relative;
    display: block;
    float: left;
    background: #0d0a24;
    width: 100%;
}

.new-contents .row{
	color: #fff;
    margin: 25px 0;
}

.new-contents-title{
    display: block;
	font-size: 24px;
    margin: 0 0 25px;
}

.open-assets{
	display: block;
    width: 220px;
    background-color: #e34d47;
    border: none;
    text-align: center;
    font-size: 16px;
    color: #fff!important;
    font-weight: 600;
    padding: 10px;
	margin: 15px 0 0px;
	transition-duration: .3s;
	text-decoration: none!important;
}
/* ----- */

/* ABOUT */
.aboutSession{
    margin: 35px auto 10px;
}

.aboutText{
	padding: 0 12px;
}

.threeSession{
	margin: 10px 0;
}

.subtitleAbout{
	display: inline-block;
	vertical-align: middle;
}

.teamArea{
	position: relative;
	display: block;
	float: left;
	width: 100%;
}

.teamArea .container{
	margin: 60px auto;
	text-align: center;
}

.memberPhoto{
	border-radius: 50%;
	border: 2px solid #fff;
	-webkit-box-shadow: 3px 3px 5px 0px rgba(224, 188, 224, 1);
	-moz-box-shadow: 3px 3px 5px 0px rgba(224, 188, 224, 1);
	box-shadow: 3px 3px 5px 0px rgba(224, 188, 224, 1);
}

.memberTitle{
	display: block;
	margin: 15px 0 5px;
	font-size: 16px;
	font-weight: 500;
}

/* CONTACT */

/* #formContact form {
	margin-top: 10px;
}

#formContact input {
	position: relative;
	width: 100%;
	margin-bottom: 5px;
	border: 1px solid #8B7D7B;
	border-radius: 5px;
	padding: 0px 10px 0px 10px;
	height: 30px;
}

#formContact input:focus,
#formContact textarea:focus {
	border: 3px solid #8B7D7B;
}

#formContact textarea {
	position: relative;
	width: 100%;
	margin-bottom: 5px;
	padding: 5px 10px 0px 10px;
	border: 1px solid #8B7D7B;
	border-radius: 5px;
	height: 100px;
}

#formContact input[type=submit] {
	border: none;
	border-radius: 5px;
	background-color: #35319b;
	color: white;
	font-weight: 600;
}

#disqus_thread {
	min-height: 500px;
	max-height: 500px;
} */

/* Responsive Header */
@media screen and (min-width: 992px) and (max-width: 1200px){
	.mainBanner, .mainBannerArea{
		height: 700px!important;
	}
	.mainBannerLogo{
		font-size: 2.6vw;
	}
	#computerHeader .col-md-2{
		width: 13.5%;
	}
}

@media screen and (min-width: 768px) and (max-width: 992px){
	.mainBanner, .mainBannerArea{
		height: 575px!important;
	}
	.mainBannerLogo{
		font-size: 2.5vw;
	}
}

@media screen and (max-width: 767px){
	.mainBanner, .mainBannerArea{
		height: 450px!important;
	}

	.mainBannerLogo img{
		height: 45px;
	}
	.mainBannerLogo{
		padding: 0 18%;
		font-size: 3.5vw;
	}
}

/* Mobile */
@media screen and (max-width: 600px){
	.mainBanner,
	.mainBannerArea{
		height: 330px!important;
	}

	.game-box-img {
		height: 280px;
	}
}

@media screen and (max-width: 480px){

	.game-box-img {
		height: 180px;
	}
	.open-assets{
		margin: 15px auto 0px;
	}
	body, p, .game-description{
		font-size: 14px;
	}
	h1{font-size: 30px;margin: 0 0 5px;}
	h2{font-size: 26px;}
	
	.game-play p{font-size: 16px;}
	.new-contents-title{font-size: 20px;margin: 0 0 20px;text-align: center;}
}

/* Iphone */
@media screen and (max-width: 400px){
	.mainBanner,
	.mainBannerArea{
		height: 260px!important;
	}
}